<div class="contenido">
 
    <div class="card">
        <div>
            <div class="p-field p-col-12 p-md-4">
                <label for="multiple">Fechas </label>
                <p-calendar [(ngModel)]="fechas" selectionMode="multiple" [readonlyInput]="true" inputId="multiple"></p-calendar>
                <p-button label="Buscar" (click)="filtrarFechas()"></p-button>
            </div>
        </div>
        <p-table [value]="ventasMensuales" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
            currentPageReportTemplate="{first} de {last}" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Dia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.CODIGO}}</td>
                    <td>{{item.DESCRIPCION}}</td>
                    <td>{{item.PRECIOFINAL}}</td>
                    <td>{{item.CANTIDAD}}</td>
                    <td>{{item.DIA}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
    
</div>