.sidebar {
    margin-top:1px;
    background: #2F323A;
    padding-top: 30px;
    position:fixed;
    left: 0;
    width: 170px;
    height: 100%;
    transition: 0.3s;
    transition-property: left;
    z-index: 10;
}


.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;   
    padding-left: 30px;
    text-decoration: none;
    transition: 0.3s;
    transition-property: background;
}



.sidebar a:hover {
    background: #19B3D3;
    cursor: pointer;
}

.sidebar i{
    padding-right: 5px;
}

//barra desplazadora del sidevar
label #sidebar_btn {
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: -34px;
    margin-left: 150px;
    cursor: pointer;    
    font-size: 20px;  
    transition: 0.3s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #19B3D3;
}

#check {
    display: none;
}

#check:checked ~ .sidebar {
    left: -110px;
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~.sidebar a {
    font-size: 20px;
    margin-left: 100px;
    width: 70px;
}