
<input type="checkbox" name="" value="" id="check">
<label for="check">
    <i class="fas fa-bars" id="sidebar_btn"></i>
  </label>
<div class="sidebar">
  <a routerLink="dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
  <a routerLink="productos"><i class="fas fa-desktop"></i><span>Productos</span></a>
  <a routerLink="ventas"><i class="fas fa-cash-register"></i><span>Ventas</span></a>
  <a routerLink="compras"><i class="fas fa-shopping-basket"></i><span>Compra Stock</span></a>
  <a routerLink="reportes"><i class="fas fa-chart-bar"></i><span>reportes</span></a>
    
</div>

