.contenido{
    top: 20px;
    display: flex;
    position: relative;
    width: 94%;
    padding-left: 180px;
    gap:45px;
}

.busqueda {
    min-width: 255px;
    max-height: 188px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    row-gap: 5px;
}

input{
    height: 2rem;
}

// .tabla{
//     display: inline-block;
// }
.p-button-text{
    text-align: right;
}

.seccion {
    color: #0a7e5b;
    font-weight: bold;
}