<p-toast></p-toast>
<div class="contenido" [formGroup]="productoForm">

    <div class="busqueda">
        <div></div>
        <div>
            <label class="seccion" for=""> ****** <i class="fas fa-cash-register"></i> <span > VENTAS </span> ******</label>
        </div>
        <label for="">Producto</label>
        <p-dropdown [options]="productos" formControlName="idProducto" (onChange)="select()" placeholder="Selecciona un Item" [filter]="true"></p-dropdown>
        
        <label for="">Precio</label>
        <input type="number" formControlName="precioVenta">
        
        <label for="">Stock</label>
        <input type="number" formControlName="stock">
      
        <label for="">Cantidad</label>
        <input type="number" formControlName="cantidad">

        <div></div><p-button (click)="productoForm.controls.cantidad.value == ''? '': addToVenta()" label=">>" class="p-button-text" [disabled]="productoForm.controls.cantidad.value == ''" ></p-button>
    </div>

    
    

    <div class="tabla">
        <p-table [value]="productosAVender"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true">           
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>             
                    <th>Descripcion</th>
                    <th>precioVenta</th>
                    <th>cantidad</th>
                    <th>subTotal</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.codigo}}</td>              
                    <td>{{product.descripcion}}</td>              
                    <td>{{product.precioVenta}}</td>
                    <td>{{product.cantidad}}</td>              
                    <td>{{product.cantidad * product.precioVenta}}</td>              
                </tr>
            </ng-template>
        </p-table>
        <div style="text-align: right;">Total: S/{{ventaTotal}} </div>
        <p-button (click)="registarVenta()" label="Registrar Venta" class="p-button-text" ></p-button>
    </div>
    
    
</div>




