.tabla {
    position: relative;
    padding-left: 180px;
    padding-right: 10px;
}

.fas{
    font-size: 17px; 
}

.fas:hover{
    cursor: pointer;    
}

.fa-edit{  
    position: relative;  
    color: rgb(28, 78, 172);   
}

.fa-edit:hover {
    color: rgb(87, 140, 238);
}

.fa-trash-alt{
    position: relative; 
    color:rgb(233, 24, 24);
    left: 15px;
}

.fa-trash-alt:hover{
    color:rgb(233, 103, 103);
}

// estilos para el modal agregar
.form {
    width: 100%;
    display: grid;    
    grid-template-columns: 1fr 4fr 1fr 4fr;
    column-gap: 1%;
    row-gap: 25px;    
}
