<p-confirmDialog [rejectVisible]="false" [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
<div class="tabla">
    <p-table [value]="(productos$ | async)!" [paginator]="true" [rows]="6" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <button (click)="showModalDialog()" pButton type="button" label="+ Nuevo"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Codigo</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>Marca</th>
                <th>precioCompra</th>
                <th>precioVenta</th>
                <th>stock</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.codigo}}</td>
                <td><img [src]="product.listFotos[0].foto" width="100" class="p-shadow-4" /></td>
                <td>{{product.descripcion}}</td>
                <td>{{product.marca}}</td>
                <td>{{product.precioCompra}}</td>
                <td>{{product.precioVenta}}</td>
                <td>{{product.stock}}</td>
                <td>
                    <i class="fas fa-edit" (click)="showModalDialog(product)"></i>
                    <i (click)="eliminarProd(product.idProducto)" class="fas fa-trash-alt"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Registrar Producto" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <div class="form" [formGroup]="productoForm">
        <label for="username2">Codigo</label>
        <div>
            <input [style]="{width: '100%'}" formControlName="codigo" name="codigo" pInputText class="p-inputtext-sm" />
            <small *ngIf="productoForm.get('codigo')?.errors && productoForm.get('codigo')?.dirty" id="username2-help" class="p-invalid">Campo Obligatorio.</small>           
        </div>

        <label for="username2">Descripcion</label>
        <div>
            <input [style]="{width: '100%'}" formControlName="descripcion" pInputText class="p-inputtext-sm" />
            <small *ngIf="productoForm.get('descripcion')?.errors && productoForm.get('descripcion')?.dirty" id="username2-help" class="p-invalid">Campo Obligatorio.</small>
        </div>

        <label for="username2">Marca</label>
        <div>
            <input [style]="{width: '100%'}" formControlName="marca" pInputText class="p-inputtext-sm" />
            <small *ngIf="productoForm.get('marca')?.errors && productoForm.get('marca')?.dirty" id="username2-help" class="p-invalid">Campo Obligatorio.</small>
        </div>

        <label for="username2">Precio Compra</label>
        <div>
            <input [style]="{width: '100%'}" formControlName="precioCompra" pInputText class="p-inputtext-sm" />
            <small *ngIf="productoForm.get('precioCompra')?.errors && productoForm.get('precioCompra')?.dirty" id="username2-help" class="p-invalid">Campo Obligatorio y solo numeros.</small>
        </div>

        <label for="username2">Precio Venta</label>
        <div>
            <input [style]="{width: '100%'}" formControlName="precioVenta" pInputText class="p-inputtext-sm" />
            <small *ngIf="productoForm.get('precioVenta')?.errors && productoForm.get('precioVenta')?.dirty" id="username2-help" class="p-invalid">Campo Obligatorio y solo numeros.</small>
        </div>

        <label for="username2">Stock</label>
        <div>
            <input type="number" [style]="{width: '100%'}" formControlName="stock" pInputText class="p-inputtext-sm" />
            <small *ngIf="productoForm.get('stock')?.errors && productoForm.get('stock')?.dirty" id="username2-help" class="p-invalid">Campo Obligatorio y solo numeros.</small>
        </div>      

    </div>

    <p-fileUpload [files]="listFoto" [showUploadButton]="false"  (onSelect)="onUpload($event)"
    [multiple]="multiple" accept="image/*" chooseLabel="Elegir">   
    </p-fileUpload>

    <p-progressBar *ngIf="cargando" [value]="porcentaje"></p-progressBar>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="productoForm.valid?addOrEdit():''" label="Guardar" class="p-button-text" [disabled]="!productoForm.valid"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>