
<header>
 
  <div class="left_area">
    <h3>JESIG <span>APP</span></h3>
  </div>
  
 
  
  <div class="right_area">
    <a href="#" class=""></a>
  </div>

</header>

<app-side-nav></app-side-nav>

<router-outlet></router-outlet>
