header{
    display: flex;
    flex-direction: row;    
    align-items: center;
    background: #212221;
    width: 100vw;
    height: 50px;   
    top: 0; 
}

.left_area h3 {    
    color: #fff;    
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-left: 10px;
}

.left_area span {
    color: #1DC4E7;
}

