<div class="contenido">
    <div class="mas-vendidos">
        <p class="header-chart">Productos mas Vendidos</p>
        <canvas id="myChart"></canvas>
    </div>
    <div class="mas-vendidos">
        <p class="header-chart">Venta Compra Diferencia</p>
        <canvas id="myLineChart"></canvas>
    </div>
    <div class="ventas-mensual">
        <p class="header-chart">Resumen Mensual Lineal</p>
        <canvas id="ventaGananciaChart" height="100%"></canvas>
    </div>
  
    
</div>