.contenido{
    top: 20px;
    display: flex;
    position: relative;
    width: 94%;
    padding-left: 180px;
    gap:45px;
    flex-flow: wrap;
}


//card mas vendidos
.mas-vendidos {
    width: 47%;
    height: 100%;
    background: white;  
    border-radius: 4px;  
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 
                0 2px 10px 0 rgba(0,0,0,.12);
}

.header-chart {
    background-color: rgba(0,0,0,.03);
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 9px 0 5px 20px;

}


//ventas mensual
.ventas-mensual {
    width: 100%;
    height: 100%;
    background: white;  
    border-radius: 4px;  
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 
                0 2px 10px 0 rgba(0,0,0,.12);
}